# Project docs
*.ppt*
*.doc*
*.pdf

# test data
*.xls
*.xlsx
*.nc
*.db

*.mat
*.zip
*.jpeg
*.jpg
*.bmp
*.png
*.csv

# Executables
*.swf
*.air
*.ipa
*.apk
*.asv

*.tif
*.tiff


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# other
.idea/*